.reset-container {
    background-color: black;
}
nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.logo {
    display: flex;
    align-items: center;

    .fa-volume-up {
        color: white;
    }
    h1 {
        color: $text-color-white;
        margin-left: 10px;
    }
    a {
        text-decoration: none;
    }
}
.main-reset-content {
    max-width: 1170px;
    margin: 0 auto;
}
.password-reset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
    // padding-top: 100px;
    // margin-bottom: 100px;
    height: 75vh;

    h1 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 8px;
        font-family: sans-serif;
        font-weight: 900;
        letter-spacing: -0.02em;
        line-height: 1.2;
    }

    p {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        color: #222326;
        margin: .5em 0 1em;
    }
}
//SMALL TAG
.form-resetpw small {
    color: #EB1E5E;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.5;
}
.form-resetpw {
    display: flex;
    flex-direction: column;

    label {
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #000;
        margin-bottom: 5px;
    }
}
.form-resetpw.error input{
    border: 2px solid red;
}
.form-resetpw.success input {
    border: 2px solid green;
}
.reset-email {
    display: block;
    width: 500px;
    height: 40px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
    border: 1px solid #D9DADC;
    border-radius: 0;
}
.pwreset-submit {
    color: #FFF;
    background-color: #1DB954;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    letter-spacing: 2px;
    width: 160px;
    font-weight: 700;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 8px;
    transition: background-color 400ms;

    &:hover {
        background-color: #1ED760;
    }
}
.reset-button {
    display: flex;
    justify-content: center;
}
.resetpw-contact a {
    text-decoration: none;
    color: #1DB954;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;

    &:hover {
        color: #1ED760;;
    }
}








//FOOTER
.bottom-container-resetpw {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;

    .bottom-footer-resetpw {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 30px 30px;

        a {
            text-decoration: none;
            color: $text-color-grey;
            padding: 8px;
            font-size: 12px;
            transition: all 200ms ease-in-out;
            &:hover {
                color: $text-color-orange;
            }
        }
    }
    .bottom-footer-resetpw{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;

        .bottom-info p {
            color: $text-color-grey;
            font-size: 12px;
        }
    }
    .bottom-info {
        display: flex;
        flex-direction: column;
    }
 
    .bottom-info img {
        width: 30px;
    }
    .bottom-flag-resetpw p {
        color: $text-color-grey;
        font-size: 12px;
    }
}




@media (max-width: 700px) {
    .form-resetpw .reset-email {
        width: 325px;
    }
    .password-reset-container h1 {
        font-size: 32px;
    }
    .reset-container .logo {
        width: 20px;
    }
}

@media (max-width: 500px) {
    .password-reset-container {
        padding: 30px;
        max-width: 700px;
        margin-top: 20px;
        height: 60vh;
    }
}
