.signup-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 40px 0px 32px 0px;
}
.sign-up-logo {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    font-size: 20px;
}
.sign-up-logo img {
    width: 132px;
}
.signup-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
        font-size: 18px;
        padding-bottom: 16px;
        line-height: 26px;
    }
}
.signup-title {
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 36px;
    letter-spacing: -0.04em;
    font-size: 20px;
    font-weight: 700;
}
.signup-btn {
    background-color: $fb-button-color;
    color: white;
    border: none;
    border-radius: 500px;
    padding: 15px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 16px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 22px;
}
.signup-btn:hover {
    scale: 1.05;
    opacity: 0.8;
}

//FORM
.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 14px;

}
.form-group small {
    padding-top: 4px;
    color: red;
    font-size: 12px;
    visibility: visible;
}
.form-group input {
    width: 100%;
    display: block;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}
.form-group small {
    visibility: hidden;
}

// SHOW SUCCESS AND ERROR
.form-group.success input {
    border: 2px solid green;
}
.form-group.error input {
    border: 2px solid red;
}
.form-group.error small {
    color: red;
    visibility: visible;
}



.signup-form label {
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.25px;
}
input::placeholder {
    font-size: 14px;
}
input:focus {
    outline: none;
    border: 1px solid black;
}
.display-name {
    padding-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.dob {
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    font-weight: 700;
}
.dob-container {
    display: flex;
    padding-bottom: 24px;
    position: relative;
}
.month,
.day,
.year {
    display: flex;
    flex-direction: column;
}
.day,
.year {
    margin: 0px 18px;
}
.month {
    margin-right: 18px;
}
.dob-container label {
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}
.select-month {
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    appearance: none;
}
.select-month.error {
    border: 2px solid red;
}
.select-month.success {
    border: 2px solid green;
}
.day.error input {
    border: 2px solid red;
}
.day.success input {
    border: 2px solid green;
}
.year.error input {
    border: 2px solid red;
}
.year.success input {
    border: 2px solid green;
}
.month small {
    padding-top: 2px;
    color: red;
    visibility: hidden;
}







//ERROR MESSAGE AND INPUT
// .error .month small {
//     visibility: visible;
// }
// .select-error {
//     border: 2px solid red;
// }




.fa-angle-down {
    position: absolute;
    top: 40px;
    left: 170px;
    color: gray;
    pointer-events: none;
}
select:focus,
.day input:focus,
.year input:focus {
    outline: none;
    border: 1px solid black;
}
.day input {
    width: 75px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    cursor: pointer;
}
.year input {
    width: 100px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    cursor: pointer;
}
.gender label {
    margin: 18px;
}
.gender p {
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    font-weight: 700;
}
.whatis {
    padding-bottom: 8px;
}
.gender {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.check-boxes {
    display: flex;
}
.check-boxes.error {
    border: 2px solid red;
}
.check-boxes.success {
    border: 2px solid green;
}
.check-boxes label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}
.share-reg {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.share-reg.error {
    border: 2px solid red;
}
.share-reg.success {
    border: 2px solid green;
}
.reg-radio-btn {
    padding-right: 12px;
}
.share-reg-data label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}
.terms-conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
    padding-bottom: 130px;

}
.terms-conditions p {
    padding: 0px 0px 1em;
}
.terms-conditions a {
    color: #F09952;
}
.signup-submit-btn {
    width: 100%;
    padding: 25px;
    border: 0px;
    border-radius: 500px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    padding: 17px 48px;
    background-color:#1DB954;
    color: white;
    margin: 20px 0px;
}
.submit-btn:hover {
    scale: 1.05;
    opacity: 0.8;
}
.account {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}






@media (max-width: 900px) {
    .sign-up-logo img {
        width: 90px;
    }
    .logo h2 {
        font-size: 18px;
    }
    .signup-title {
        font-size: 18px;
        text-align: center;
    }
    .display-name,
    .dob,
    .whatis p {
        padding: 8px 0px;
    }
}

@media (max-width: 500px) {
    .signup-container {
        max-width: 350px;
    }
    .month select {
        width: 150px;
    }
    .year input {
        width: 95%;
    }
    .fa-angle-down {
        left: 125px
    }
    .day,
    .year {
    margin: 0px 10px;
    }
}






